$primary_color: #0674fd;$secondary_color: #00d0f9;$third_color: #79CD1C;$gradient_color_from: #0841c6;$gradient_color_to: #05c6fb;$link_color: #0674fd;$link_color_hover: #00d0f9;$link_color_active: #00d0f9;
                $body_default_font: Roboto;
            
                $heading_default_font: Poppins;
            